body{
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 16px;
    padding-top: 30px;
}

.stadium{
  background: #7DCD79;
}
.stadium section{
    display: block;
    box-sizing: border-box;
}
.stadium .char{
    height: 175px;
    position: relative;
}

.stadium .char img{
    height: 150px;
}
      
.stadium .char .data{
    background: #CCC;
    width: 20vw;
    padding: 15px 2%;
    box-sizing: border-box;
    top: 25px;
}
.stadium .char progress {
    width: 100%;
}
.stadium .char p{
    text-align: right;
}
/* Enemy / Player */
.enemy .char img {
    right: 15vw;
}
.enemy .data {
    left: 15vw;
}

.player .char img {
    left: 15vw;
}
.player .data {
    right: 15vw;
}
.attack-list{
    display: flex;
    flex-wrap: wrap;
    background: #FFFAFA;
    position: initial;
    text-transform: capitalize;
}
.attack-list li{
    width: 50%;
    text-align: center;
    padding: 25px 0;
    box-sizing: border-box;
    border: 1px solid #666;
    cursor: pointer;
}
.attack-list li:hover {
    background: #EEE;
}