<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pokemon Battle</title>
	<link rel="stylesheet" type="text/css" href="../css/battle.css">
</head>
<body>
  <div>
    <section class="stadium">
      <section class="enemy" style="padding: 25px 0px;"><section class="char"><img src="../pokemon/pikachu_front.gif" alt="charmander"><aside class="data"><h2>charmander</h2><div><progress max="500" value="500"></progress><p><span>500</span>/500</p></div></aside></section></section>
      <section class="player"><section class="char"><img src="../pokemon/pikachu_back.gif" alt="bulbasaur"><aside class="data"><h2>bulbasaur</h2><div><progress max="500" value="500"></progress><p><span>500</span>/500</p></div></aside></section></section>
    </section>
    <ul class="attack-list">
      <li>
        <p class="attack-name">
          <strong>
            tackle
          </strong>
        </p>
        <p class="attack-pp">
          <small>
            <span>30</span>/30</small>
          </p>
        </li>    
      </ul>
  </div>
</body>